
body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp{
    display: flex;


}
.minp{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbtn{
    background-color: rgb(29, 223, 29);
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    border: none;
    box-shadow: 0 0 6px rgb(0,0,0,0.2 );

}
input{
    border: none;
    margin-right: 20px;
    height: 30px;
    box-shadow: 0 0 6px rgb(0,0,0,0.2 );
    border-radius: 5px;
    outline: none;
}
#searchinp{
    width:200px;
    font-size: 100%;
}
.moutput{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .output{
    width: auto;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
 

} */
/* .imgbox{
    width: 300px;
  

    margin: 5px;
    
} */
img{
    width: 100%;
    
  

}

/* .output > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.output > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.output{
    width:  100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.output .wide{
    grid-column: span 2;
}
.output .tall{
    grid-row: span 2;
}
.output .big{
    grid-column: span 2;
    grid-row: span 2;
} */
/* .imgtxt{
    font-weight: 600;
    font-size: larger;
    display: flex;
    justify-content: center;
}

#load{
    display: none;
}

 .output {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  .imgbox {
    -ms-flex: 25%; 
    flex: 25%;
    padding: 0 4px;
  }
  
  .imgbox img {
    margin-top: 8px;
    vertical-align: middle;
    object-fit: cover;
  }  */
  .output {
    column-count: 4; /* Adjust the number of columns as needed */
    column-gap: 10px;
  }
  
  .imgbox {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .img {
    display: block;
    width: 100%;
    height: auto;
  }